<ion-view view-title="Cadastro">
  <ion-content>
    <!--Dados do Cadastro -->
    <div class="dadosCad">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nome Completo*</span>
        <input type="text" placeholder="Nome Completo">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nome de Usuário*</span>
        <input type="text" placeholder="Nome de Usuario">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Senha*</span>
        <input type="text" placeholder="Senha">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Celular</span>
        <input type="text" placeholder="Celular">
      </label>
    </div>
    <!--*-->
    <h6>*Campos obrigatórios</h6>
    <!-- Botao -->
    <button class="button button-block button-dark">Cadastrar</button>

  </ion-content>
</ion-view>
