<ion-view view-title="Meus Anúncios">
  <ion-content>
    <div class="list">
      <div class="anuncio">
        <div class="item item-divider">
          18/07/16
        </div>
        <a class ="item">
          <div class="row">
            <div class="col col-20">
              7:00
            </div>
            <div class="col col-50 titulo">
              <b>Brigadeiro</b>
            </div>
            <div class="col-padding">
              R$ 1,50
            </div>
          </div>
          <div class="row">
            <div class="col col-20">
              12:00
            </div>
            <div class="col col-50">
              <h4>varias descrição bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</h4>
            </div>
            <div class="col-padding">
              <button class="button button-small icon ion-refresh botao"></button>
              <button class="button button-small icon ion-edit botao"></button>
              <button class="button button-small icon ion-trash-a botao"></button>
            </div>
          </div>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
