<ion-view view-title="Novo Anuncio">
  <ion-nav-buttons side="right">
    <img class="title-image" src="../img/logo.jpg" id="logoBarra" />
  </ion-nav-buttons>
  <ion-content>
    <!-- Dados do Anuncio -->
    <div class="dadosCad">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Titulo</span>
        <input type="text" placeholder="Ex: Bolo" ng-model="nanuncio.titulo">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Local</span>
        <input type="text" placeholder="Ex: R.U." ng-model="nanuncio.local">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Preço</span>
        <input type="number" placeholder="Ex: 0,00" ng-model="nanuncio.preco">
      </label>
      <div class="hora">
        <label>Periodo</label>
        <div id="LadoALado">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Inicio</span>
            <input type="time" placeholder="08:00" ng-model="nanuncio.horainicio">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Termino</span>
            <input type="time" placeholder="23:00" ng-model="nanuncio.horatermino">
          </label>
        </div>
      </div>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Descrição</span>
        <textarea id="textAreaMultLine" ng-model="nanuncio.descricao"></textarea>
      </label>
        <span class="input-label">Tags</span>
        <div class="item-input" ng-repeat="item in inputs">
          <label class="item item-input item-stacked-label">
              <input id="tag-{{$index}}" type="text" placeholder="Ex: Brigadeiro"
              ng-model="input.tag"/>
          </label>
          <button ng-if="$index == inputs.length - 1"
          ng-click="addfield()"
          class="button button-block button-dark"
          style="padding:3px;width:10%;">
            <i class="icon ion-plus"></i>
          </button>
          <button ng-if="$index != inputs.length - 1"
          ng-click="removefield($index)"
          class="button button-block button-dark"
          style="padding:3px;width:10%;">
            <i class="icon ion-minus"></i>
          </button>
        </div>
      <label class="item">
        <button class="button button-block button-dark" ng-click="novoAnuncio()">Publicar</button>
      </label>
    </div>
    <!-- * -->
  </ion-contente>
</ion-view>
