<ion-view view-title="Sobre">
  <ion-content>
    <div class="row">
      <div class="col col-50">
        <img src="../img/logo.jpg" id="imgLogoSobre">
      </div>
      <div class="col col-50">
        <img src="../img/logoLtia.png" id="imgLtiaSobre">
      </div>
    </div>
    <div class="row" style="padding:25px">
      <p>
        Nam quis nulla. Integer malesuada. In in enim a arcu imperdiet malesuada. Sed vel lectus. Donec odio urna, tempus molestie, porttitor ut, iaculis quis, sem. Phasellus rhoncus. Aenean id metus id velit ullamcorper pulvinar. Vestibulum fermentum tortor id mi. Pellentesque ipsum. Nulla non arcu lacinia neque faucibus fringilla. Nulla non lectus sed nisl molestie malesuada. Proin in tellus sit amet nibh dignissim sagittis. Vivamus luctus egestas leo. Maecenas sollicitudin. Nullam rhoncus aliquam metus. Etiam egestas wisi a erat.
      </p>
    </div>
    <div style="position:absolute; bottom:0%; left:0%; right:0%; text-align:center;">2016</div>
  </ion-content>
</ion-view>
