/* Empty. Add your own CSS if you like */

/* *obrigatorios do cadastro */
#obrigatoriaCad {
  padding-left: 15px;
}

/* Imagem do logo no menu*/
#imgLogo {
  width:90px;
  height:90px;
  padding: 10px;
  position: relative;
  left:33%;
}

/* Imagem do logo na barra*/
#logoBarra {
  max-width: 32px;
}

/*Detalhes do Anuncio*/
/*Cria margens laterais na tela de detalhes do anuncio*/
#MargemAnuncio {
  margin: 5%;
}
/*Separa as Tags da Descriçaõ*/
#Tags {
  margin-top: 3%;
}

/*Inserir Anuncio*/
/*Centraliza os labels e cria uma margem no espaço onde
estão os campos de Periodo*/
div.hora {
  padding: 10px;
  border: 1px solid gray;
  margin: 0;
  text-align: left;
}
/*Faz com que dois ou mais itens fiquem na mesma linha*/
#LadoALado {
  padding: 4px;
  display: flex;
  justify-content: space-around;
}
/*Redimensiona a textArea automaticamente e permite a
utilização de multiplas linhas*/
#textAreaMultLine {
  padding: 3px;
  height: 90px;
  font-size: 16px;
  line-height: 24px;
  overflow: hidden;
  resize: none;
}
/*-------------------*/

/*LOGIN---------------------------------*/
.botao-entrar{
  padding-bottom: 0px;
  padding-left: 110px;
  padding-right: 110px;
  padding-top: 70px;
}
.botao-cadastrar{
  padding-bottom: 0px;
  padding-left: 115px;
  padding-right: 110px;
  padding-top: 20px;
}
.botao-facebook-padding{
  padding-bottom: 0px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 150px;
}
.botao-facebook{
  color: white;
  background: #3b5998;
}


.usuario{
  padding-bottom: 0px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 150px;
}
.senha{
  padding-bottom: 0px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
}
.zoinho{
  color: grey;
}

/*MeusAnuncios---------------------------------*/
button.botao:before{
  font-size: 10px;
  color : blue;
}
.card-small{
  width:120px;
  height: 10px;
}
/* Tela Sobre*/
/*Imagem do Logo do LTIA na tela Sobre */
#imgLtiaSobre {
  width: 110px;
  height: 110px;
  position: relative;
}
/*Imagem do Logo na tela Sobre */
#imgLogoSobre{
  width:110px;
  height:110px;
  position: relative;
  left: 40%;
}
