/* Empty. Add your own CSS if you like */

/* *obrigatorios do cadastro */
#obrigatoriaCad {
  padding-left: 15px;
}

/* Imagem do logo no menu*/
#imgLogo {
  width:90px;
  height:90px;
  padding: 10px;
  position: relative;
  left:33%;
}

div.hora {
  padding: 10px;
  border: 1px solid gray;
  margin: 0;
  text-align: center;
}

#container {
  display: flex;
  justify-content: space-around;
}

#description {
  padding: 3px;
  height: 90px;
  font-size: 16px;
  line-height: 24px;
  overflow: hidden;
  resize: none;
}
